h2{
    color: darkblue;
}
.btn11{
color: darkblue !important;
border-color: darkblue !important;
background-color: transparent !important;
}
.faqs-sec{
    background-color: lightblue !important;
}
@media screen and (max-width:600px) {
.btn11{
color: darkblue !important;
border-color: darkblue !important;
background-color: transparent !important;
/* height: 80px;
margin-top: 45px; */
padding: 5px 5px !important;
font-size: 12px;
}
}
@media screen and (max-width:900px) and (min-width:601px) {
    .btn11{
    color: darkblue !important;
    border-color: darkblue !important;
    background-color: transparent !important;
    /* height: 80px;
    margin-top: 45px; */
    padding: 5px 5px !important;
    font-size: 12px;
    }
    }