.FirstBox{
    width: 100%;
}
/* .SecBox{ 
    border-bottom: 1%; 
    border-color: 'divider' 
} */
.FControl{
    margin: 1%;
}
.FourthBox{
    display:flex;
    justify-content:space-between
}
.BtnWth{ 
    width: 25%;
    padding: 1%;
}
.artPage{
    display: flex;
    justify-content: center;
}
.articon{
    width: 115%;
    height:200px;
    padding: auto;
    margin-top: -16px;
    margin-left: -20px;
    /* margin-right: -20px;  */
    margin-right: -24px;
}
.articleiconDiv{
    padding:0px;
}
/* .BtnWthArt{

} */
/* .CrdPadding1:hover{
    .articon{
        width:118%;
        margin-top: -2px;
        margin-left: -px;
        height: 202px;
    }
} */