  .CrdVariant{
    width:95%;
  }
  .CardVarSix{
    width: 95%;
  }
  .CardVarSixT{
    width: 95%;
    margin-left: 5%;
  }
  .TypoPara{
   /* mb: "1.5" */
   margin-bottom: 1.5;
  }
  .MainLeftDash{
    background-color: #98A8F8;
    color:white;
    border: none !important;
    height:100% !important;
  }
  .listItem{
    color: white !important;
  }
  .BoxSect{
    display: flex;
    /* border: none !important; */
    border: none !important;
  }
  .ModeIcn{
    background-color: transparent;
    border: none;
    color: white;
  }
  .drnameText{
    padding: 10px 10px;
  }
  .userIcn{
    margin-left: 2;
  }
  .dashLink{
    border: none;
    text-decoration: none;
    color: white;
    width:100%;
  }
  .Prof{ 
    color:black;
    text-decoration: none;
  }
  /* .showCl1{
    border-radius: 50%;
  } */
  /* .BoxDesign{
    border-radius: 50%;
    border-color: none;
  } */
  /* .opbtn{
    border-radius: 5%;
  } */
  /* background-color: darkblue;
    width: 40px;
    height: 40px;
    margin-right: -20px; */
    /* .showCl,.opbtn{
      background-color: darkblue;
    width: 40px;
    height: 40px;
    }
    .showCl1{
      background-color: darkblue;
    width: 40px;
    height: 40px;
    } */
    .opbtn{
      border: none;
      background-color: transparent;
    }