.navList ul li{
    color: white !important;
    font-weight: bold;
    margin-left:20px !important;
   text-decoration: none !important;
   border-bottom:none;
   color: inherit; 
   cursor: pointer;

}
   /* fgfdgdfgd */
.navList ul li Link{
    text-decoration: none; /*Remove underline*/
    color: inherit; /*Use the parent element's color*/
    border-bottom: none; /*Remove bottom border*/
    cursor: pointer; /*Set cursor to pointer for better user experience */
  }
  
  @keyframes animdiv {
    0%   {left:0px; top:0px;}
    25%  {left:20px; top:0px;}
    50%  {left:20px; top:0px;}
    100% {left:0px; top:0px;}
}

div .animdiv{
    position: relative;
    animation: animdiv 5s infinite;
}

  @media screen and (max-width:600px) {
    .imggcol{
        width:200px;
        /* height: 300px; */
        /* /* margin-top: -150px; */
        margin-left: -160px !important; 
    }
    
}

