/* .dr_span{
    background-color: darkblue;
    color: White;
    border-radius: 50%;
    padding: 8px 8px;
} */
#navbarText ul{
    margin: auto 600px;
}
#navbarText ul li{
    padding: auto 30px !important;
    color: black !important;
}
#navbarText ul li{
    margin-left: 20px;
}
#navbarText ul li Link{
    padding: auto 120px !important;
}
.nav-head{
    height: 100px;
    width: 100%;
    padding: 15px 20px;
    box-shadow: 2px 2px 12px 0px lightslategrey;
}
.dr_nm{
    padding: 0px 0px;
}

@media screen and (max-width:400px){
    #navbarText ul{
        margin: auto 120px;
    } 
}
@media screen and (max-width:600px) and (min-width:401px){
    #navbarText ul{
        margin: auto 240px;
    } 
}
@media screen and (max-width:900px) and (min-width:601px){
    #navbarText ul{
        margin: auto 410px;
    } 
}