/* .card{
    display: flex;
    justify-content: center;
    text-align: justify;
} */
.drh1{
    font-family:Arial;
    font-weight:bold !important;
}
/* .card-img-top{
    display: flex ;
    justify-content: center !important;
    margin-top: 10%;
    margin-left: 30%;
} */
.showTreat{
    display: flex;
    justify-content: center !important;
    margin-left: 20%;
}
.crd1{
    box-shadow: 4px 4px 12px 2px lightgray;
    margin: 20px 20px;
}